dash==2.6.1
dash_bootstrap_components==1.2.1
dash_core_components==2.0.0
dash_html_components==2.0.0
folium==0.12.1.post1
geopandas==0.11.1
jupyter_dash==0.4.0
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.2
plotly==5.9.0
Shapely==1.8.2
